<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.xdeveloper.customviewseries">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".anim.view.ViewAnimationActivity" />

        <activity android:name=".anim.view.animation.ScaleAnimActivity" />

        <activity android:name=".anim.view.animation.AlphaAnimActivity" />

        <activity android:name=".anim.view.animation.RotateAnimActivity" />

        <activity android:name=".anim.view.animation.TranslateAnimActivity" />

        <activity android:name=".anim.view.animation.SetAnimActivity" />

        <activity android:name=".anim.interpolator.InterpolatorActivity" />

        <activity android:name=".anim.interpolator.sample.SampleInterpolatorActivity" />

        <activity android:name=".anim.interpolator.sample.CustomInterpolatorActivity" />

        <activity android:name=".anim.property.animator.ValueAnimatorActivity" />

        <activity android:name=".anim.property.PropertyAnimatorActivity" />

        <activity android:name=".anim.property.animator.ObjectAnimatorActivity" />

        <activity android:name=".anim.property.animator.PropertyValuesHolderActivity" />

        <activity android:name=".anim.property.animator.KeyframeActivity" />

        <activity android:name=".anim.property.animator.AnimatorSetActivity" />
    </application>

</manifest>